<div>
<h1 class="flex justify-center p-5">User Post</h1>
  <%= render 'shared/home'%>

  <%= render 'users/user_profile'%>

  <%= render 'users/user_bio'%>

  <%= render 'posts/post'%>

  <%= render 'users/all_posts'%>
</div>