<div>
<h1 class="flex justify-center p-5">Users All Posts</h1>
<!-- This is the link to show the home page -->
  <%= render 'shared/home'%>
  
  <%= render 'users/user_profile', user: @user%>

  <%@user.posts.each do |post|%>
    <%= link_to user_post_path(@user, post) do%>
      <div class="flex flex-col border mt-5 mb-1 pl-3 ">
        <h3 class="mt-2 mb-2"><%=post.title%> #<%=post.id%></h3>
        <div class="flex justify-between  p-2">
    <%end%>
          <p class="mt-2 mb-2"><%=post.text%></p>
          <span>💬 <%=post.comments_counter%> 👍 <%=post.likes_counter%>
          <% if can? :destroy, post %>
          <%= link_to "🗑️", user_post_path(@user, post), 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
          class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" 
          %>
          </span>
        <%end%>
        </div>
      </div>
      
      <div class="border pl-3 mb-5">
        <%post.recent_five_comments.each do |comment|%>
        <div class="flex justify-between mt-2 mb-2">
          <p><%=comment.author.name%>: <%=comment.text%></p>
          <% if can? :destroy, comment %>
          <%= link_to "🗑️", user_post_comment_path(@user, post, comment),
          data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"},
          class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" 
          %>
            <%end%>
          </div>
        <%end%>
      </div>
  <%end%>
</div>
