<div>
<h1 class="flex justify-center p-5">Users All Posts</h1>
<!-- This is the link to show the home page -->
  <%= render 'shared/home'%>
  
  <%= render 'users/user_profile', user: @user%>

  <%@user.posts.each do |post|%>
    <%= link_to user_post_path(@user, post) do%>
      <div class="flex flex-col border mt-5 mb-1 pl-3 ">
        <h3 class="mt-2 mb-2">Post #<%=post.id%></h3>
        <div class="flex justify-between  p-2">
          <p class="mt-2 mb-2"><%=post.text%></p>
          <span>Comments: <%=post.comments_counter%> Likes: <%=post.likes_counter%></span>
        </div>
      </div>
      
      <div class="border pl-3 mb-5">
        <%post.recent_five_comments.each do |comment|%>
          <p><%=comment.author.name%>: <%=comment.text%></p>
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>
