<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100 container flex mx-auto justify-center mt-15 px-5">
    <main >
    <div class="mt-10 text-lg mb-0 mr-4">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
      <%= yield %>
    </main>
  </body>
</html>
